{% extends 'base.html' %}

 
{% load socialaccount %}
{% providers_media_js %}



    {% block content %}

    <div class="container-form">
        <h3>Iniciar sesión</h3>
        <hr>
        <div class="login-container">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p>Tu usuario y contraseña son incorrectos. Por favor, intente nuevamente.</p>
                </div>
            {% endif %}
            <form id="form-login" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="login" class="button-register" type="submit">Iniciar sesión</button>
            </form>
            <p>¿No tienes una cuenta? <a href="{% url 'signin' %}">Registrarse</a></p>
            <span class="or-divider">OR</span>


            <div class="social-login">

                <a class="fab fa-google size_social text-info" aria-hidden="true" href="{% provider_login_url 'google' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}