/* Estilos generales */
.container-form {

  /* Propiedades existentes */
      max-width: 600px;
    
      margin: 0 auto;
      padding: 0px;
      background-color: #f5f5f5;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      position: relative;
    
      /* Nuevas propiedades para centrar */
  
  
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
      
      h3 {
        font-family: 'Courier New', Courier, monospace;
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
      }
      
      hr {
        border: none;
        border-top: 1px solid #ccc;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      
      .alert {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #f5c6cb;
      }
      
      .alert p {
        margin: 0;
      }
      
      .register-container {
        text-align: left;
      }
      
      button {
        display: block;
        width: 100%;
        background-color: #ffa053;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      .button-register:hover {
        background-color: #fd933cfe;
      }
      
      .button-register:active {
        background-color: #ff8019;
      }
      
      /* Estilos para el formulario */
      form {
        margin-bottom: 20px;
      }
      .form-group {
          margin-bottom: 20px;
        }
        
        .form-control {
          width: 100%;
          padding: 10px;
          font-size: 16px;
        }
  
  /* Estilos para los mensajes de éxito */
  .success-message {
      color: #a76c28;
    }
    
    /* Estilos para los mensajes de error */
    .error-message {
      color: #dc3545;
    }
          
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
      }
      
      a {
        color: #ff8019;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
  
  
      .size_social {
        font-size: 32px;
        margin-top: 10px;
    }
    
    /* Estilo para el separador "OR" */
    .or-divider {
      position: relative;
      margin: 0 10px;
      color: #555; 
      font-weight: bold;
      
    }
  
  .top-bar {
    background-color: #ff8019; /* Color de fondo de la barra */
    padding: 10px; /* Espacio interno de la barra */
    position: fixed; /* Posición fija para que siempre esté en la parte superior */
    top: 0; /* Coloca la barra en la parte superior */
    left: 0; /* Coloca la barra en la esquina superior izquierda */
    width: 100%; /* Ancho completo de la pantalla */
  }
  
  .top-bar img {
    height: 40px; /* Ajusta la altura del logo según tus preferencias */
    margin-left: 20px; /* Margen izquierdo para separar el logo del borde de la barra */
  
  }